/* button{
    padding: 12px 20px;
    margin: 10px;
}
body {
    font-family: Arial, sans-serif;
    text-align: center;
    color: aliceblue;
    margin-top: 150px;
    background-color: #383535;
} */